.btn{
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    /* 
    padding: 10px; same value in all side
    padding: 12px 20 px; (top-bottom) (right-left)
    */
    padding: 10px 20px 15px; /*top (right-left) bottom */

}
.primary-btn{
    background-color: #000;
}
.secondary-btn{
    background-color: #ff3939;
}
div{
    text-align: center;
    padding: 40vh;
}