#container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows:repeat(5,140px) 40px;
}
.content{
    background-color: cornflowerblue;
    border: 1px solid black;
}
.content2{
    grid-column: 2/4;
    grid-row: 1/3;
}
.content3{
    grid-column: 3/span 1;
    grid-row: 2/span 1;
    text-align: left;
    opacity: 0.7;
}

.content4{
    grid-column: 4/6;
    grid-row: 1/3;
}
.content5{
    grid-column: 5/span 1;
    grid-row: 2/span 1;
}
.content6{
    grid-column: 6/ span 2;
    grid-row: 1/3;
}
.content7{
    grid-row: 2/4;
}
.content8{
    grid-column: 7/span 1;
    grid-row: 2/span 1;
}
.content11{
    grid-column: 4/ span 2;
    grid-row: 3/5;
}
.content12{
    grid-column: 6/ span 2;
    grid-row: 3/5;
}
.content13{
    grid-row: 4/ span 3;
}
.content16{
    grid-column: 2/ span 2;
    grid-row: 5/span 2;
}
.content17{
    grid-row: 6/span 1;
    grid-column: 3/span 1;
}
.content19{
    grid-column: 6/ span 2;
    grid-row: 5/span 2;
}
.content23{
    grid-column: 7/ span 1;
    grid-row: 6/span 1;
}
.content3,
.content5,
.content8 img{
    opacity: 0.5;
}